#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: red;
}

.test-nupp {
  background-color: green;
  color: grey;
}

.test-nupp:hover {
  height: 100px;
}

.test-nupp:active {
  cursor: grab;
}

.sinine-tekst {
  font-style: italic;
  color: blue;
}

.sinine-tekst:hover {
  font-size: 24px;
}

.roheline-tekst {
  font-weight: bold;
  color: green;
  border: 2px solid red;
}

.roheline-tekst:hover {
  border: 2px solid brown;
}

.motika-pilt {
  width: 200px;
  margin-left: auto;
  display: block;
  margin-bottom: 50px;
}

.motika-pilt:hover {
  border-radius: 12px;
}

.motika-pilt:active {
  opacity: 50%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black;
  margin-bottom: 100px;
}

td,
th {
  border: 1px solid #333;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
