#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pilt {
  height: 200px;
  border-radius: 10px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 80%;
}

.pilt:active {
  transform: scale(90%);
}

.summa-aktiivne {
  color: pink;
  border: 1px solid pink;
}

.esindus-aktiivne {
  text-decoration: underline;
  color: pink;
}

.keel-aktiivne {
  font-weight: bold;
}

.nupp {
  background-color: beige;
}
